/* -----------------------------------------
   GENERAL RESETS & BASE STYLES
------------------------------------------ */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.home-container {
  font-family: Arial, sans-serif;
  color: #333;
}



